<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="main.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="main.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <main.My.MySettings>
            <setting name="ffmpegPath" serializeAs="String">
                <value />
            </setting>
            <setting name="authToken" serializeAs="String">
                <value />
            </setting>
            <setting name="curlPath" serializeAs="String">
                <value />
            </setting>
        </main.My.MySettings>
        <main.config>
            <setting name="ffmpegPath" serializeAs="String">
                <value>null</value>
            </setting>
        </main.config>
    </userSettings>
</configuration>